@import url("https://fonts.google.com/specimen/Poppins");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    font-size: 15px;
}
p{
    color: hsl(180, 1%, 35%);

}
svg{
    position: absolute;
    bottom: 21px;
    right: 21px;
}
.container{
    width: 100vw;
    height: 100vh;
}
header{
    margin: 1em auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    h1:first-child{
        font-weight: normal;
        color: hsl(180, 1%, 35%);  
   
    }
    p{
       
        margin-top: 0.3em;
    }
}
.box-container{
    .box{
        position: relative;
        width: 310px;
        height: 200px;
        padding: 1.5em;
        margin: 2em auto;
        box-shadow: 0 0.5px 3px black;
        
        &:nth-child(1){
            border-top: 4px solid hsl(180, 62%, 55%);
            
        }
        &:nth-child(3){
            border-top: 4px solid hsl(212, 86%, 64%);
            
        }

    }
    .sub-box{
        .box{
            &:nth-child(1){
                border-top: 4px solid hsl(0, 78%, 62%);
                
            }
            &:nth-child(2){
                border-top: 4px solid hsl(34, 97%, 64%);
                
            }

        }
        

    }
    p{
        margin-top: 0.3em;
    }
}

@media(min-width: 1000px){
    .box-container{
        width: 100vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1100px;
    }
}






































